[submodule "computer_parts_web_frontend"]
	path = computer_parts_web_frontend
	url = https://github.com/calebyxu/computer_parts_web_frontend.git
[submodule "resume_web"]
	path = resume_web
	url = https://github.com/calebyxu/resume_web.git
